<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta name="description" content="Juego que busca hacer conciencia acerca del efecto negativo de las drogas." />
        <meta name="keywords" content="drogas, juego, educativo, conciencia, drogadicción" />
        <meta name="author" content="Aezral" />
        <meta name="robots" content="index, follow" />


        <meta property="og:title" content="Buscafresa" />
        <meta property="og:description" content="Juego que busca hacer conciencia acerca del efecto negativo de las drogas." />



        <title>Buscafresa</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico"/>



    </head>
    <body>
        <slot />
    </body>
</html>
